body{
    display: flex;
    background-color: #000;
    justify-content: center;
    flex-wrap: wrap;
}
h1{
    color: #fff;
    width: 100%;
    text-align: center;
    
    font-family: monospace; 
    font-size: 5vw; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
}

#screen{
    position: relative;  
    border:5px solid #fff;
    width: 500px;
    height: 500px;
    color: #00a0fa;
    background-color: black;
    transition: 0.2s;
}
.img{
    position: absolute;
}