body{
    display: flex;
background: #0d0d6b;
background: radial-gradient(circle,rgba(13, 13, 107, 1) 0%, rgba(11, 5, 44, 1) 63%);
    justify-content: center;
    flex-wrap: wrap;
}
h1{
    color: rgb(105, 105, 248);
    width: 100%;
    text-align: center;
    
    
    font-family: monospace; 
    font-size: calc(3vw + 50px); 
    font-style:italic; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 64px;
    transition:All 0.2s ease;
    margin: calc(1vw + 20px) 0;
}
h1:hover{
    filter: brightness(1.2);
    transform: scale(1.05);
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
}

*{
    user-select: none;
    -webkit-user-drag: none;
}

.fruit{
background: #0d0d6b;
background: radial-gradient(circle,rgba(13, 13, 107, 1) 0%, rgba(0, 0, 0, 1) 70%);
}

#controlButtonsDiv{
    display: flex;
    width: 50%;
    justify-content: center;
}
.controlButton{
    background: rgba(0,0,0,0);
    border: none;
    outline: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
}
.imgControl{
    transition:All 0.2s ease;
    width: 120%;
}
.controlButton:hover .imgControl {
  filter: brightness(0.9);
  transform: scale(1.05);
}
.controlButton:active .imgControl{
    filter: brightness(0.5);
}

#ejecutionControlButton{
    margin: 1vw 1vw 0 2vw;
}
#stopEjecutionButton{
    margin: 1vw 2vw 0 1vw;
}
#startGameButton{
    margin: 1vw 2vw 0 1vw;
}
#screen{
    position: relative;  
    border:1px solid rgb(105, 105, 248);
    width: 500px;
    height: 500px;
    min-width: 500px;
    min-height: 500px;
    color: #00a0fa;
    background-color: #000;
}
.img{
    position: absolute;
}